/* Cabeçalho */

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 32px;
}

/* Categorias */

.categorias__lista {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}

/* Destaques */

.destaques {
    display: flex;
    align-items: center;
    gap: 10px;
}

.destaques__barra {
    flex-grow: 1;
}

/* Eventos */

.eventos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 1.5rem;
    row-gap: 1rem;
}

.eventos__item {
    flex-grow: 1;
    max-width: 400px;
}

.eventos__botao {
    text-align: center;
    margin: 1rem;
}

/* Agenda */

.agenda__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 1.5rem;
    row-gap: 1rem;
}

.agenda__item {
    flex-grow: 1;
    max-width: 400px;
}

.agenda__botao {
    text-align: center;
    margin: 1rem;
}

/* Rodapé */

.rodape {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rodape__logo {
    align-self: end;
}

@media (min-width: 720px) {

/* Cabeçalho */

    .menu {
        column-gap: 72px;
    }

/* Categorias */

    .categorias__lista {
        flex-wrap: wrap;
        column-gap: 1.5rem;
        row-gap: 1rem;
    }

/* Eventos */

    .eventos__botao {
        text-align: end;
    }

/* Agenda */

    .agenda__botao {
        text-align: end;
    }
}

@media (min-width: 1440px) {

/* Cabeçalho */

    .menu {
        column-gap: 105px;
        flex-wrap: nowrap;
    }

    .menu__item:nth-child(1) {
        order: 1;
    }

    .menu__item:nth-child(2) {
        order: 3;
    }

    .menu__item:nth-child(3) {
        order: 4;
    }

    .menu__item:nth-child(4) {
        order: 5;
    }

    .menu__item:nth-child(5) {
        order: 2;
    }
}